body {
    margin: 30px;
    font-family: Roboto;
}

.section {
  margin: 40px;
}

.form {
  width: 500px;
}

.form__title {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.form-group {
  padding-left: 10%;
}

.form__submit {
  width: 30%;
  margin: 0 auto;
}

input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 35px;
  width: 30%;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

#map {
    height: 645px;
    width: 645px;
}

/*@media screen and (min-width: 768px) {
    .container {
        max-width: 1120px;
    }

    .header,
    .content,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        margin-bottom: 30px;
    }

}*/
