<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="form__title">ADD YOUR LOCATION</p>
        </div>
        <div class="panel-body">
            <form name ="addForm" novalidate>
                <div class="form-group container">
                    <p class="row">Name</p>
                    <input type="text" class="field__input row" id="name" placeholder="Post Malone" ng-model="formData.name" required>
                </div>
                <div class="form-group container">
                    <p class="row">Program</p>
                    <input type="text" class="field__input row" id="program" placeholder="Computer Engineering" ng-model="formData.program">
                </div>
                <div class="form-group container">
                    <p class="row">Favorite Language</p>
                    <input type="text" class="field__input row" id="language" placeholder="Python" ng-model="formData.favlang">
                </div>
                <div class="form-group container">
                    <p class="row">Job Position</p>
                    <input type="text" class="field__input row" id="position" placeholder="CEO" ng-model="formData.position">
                </div>
                <div class="form-group container">
                    <p class="row">Address</p>
                    <input type="text" class="field__input row" id="address" placeholder="123 Street St" ng-model="formData.address" required>
                </div>
                <div class="form-group container">
                    <p class="row">Company</p>
                    <input type="text" class="field__input row" id="company" placeholder="Shopify" ng-model="formData.company" required>
                </div>
                <div class="form-group container">
                    <p class="row">City</p>
                    <input type="text" class="field__input row" id="city" placeholder="Ottawa" ng-model="formData.city" required>
                </div>
                <button type="submit" class="btn btn-danger btn-block form__submit" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
